<header class= "jumbotron">
    <h1>Super Rentals</h1>
</header>

<div class="container">
{{outlet}}
</div>

<hr>

<footer class="container">
  {{#link-to 'contact'}} Click for help!{{/link-to}}
</footer>
