

<header class= "jumbotron">
    <h1>Super Rentals</h1>
</header>

<div class="container">
{{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'contact'}} Our representatives would love to help!{{/link-to}}
</footer>
